<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenue</title>
</head>
<body>
<h2>Bienvenue à l'Overlook Hotel</h2>
<p>Explorez nos chambres et faites une réservation dès aujourd'hui !</p>

<a th:href="@{/reservations}">Voir et réserver des chambres </a><br/>
<a th:href="@{/my-reservations}">Voir mes réservations</a></br/>
<a th:href="@{/profil}">Voir mon profil</a></br/>   
<a th:href="@{/all-feedbacks}">Voir tous les avis</a><br/>
<a th:href="@{/feedback}">Donner mon feedback</a>
</body>
</html>

